@font-face {
  font-family: 'Artega';
  src: url('./assets/fonts/Artega.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #F6F0D7;
  --accent-color: #C5D89D;
  --text-secondary: #3B4953;
  --text-primary: #001F3D;
  --white: #001F3D;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Artega', sans-serif;
  font-weight: 700;
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}